<h1>You Are Securely Logged Out; Thanks for Visiting!</h1>
<hr />
<br />
<h1> To Return to Your Profile:</h1>
<br />
<br />
<h2><a href="auth/login">Log Back In</a></h2>
<br />
<h3>--or--</h3>
<br />
<h2><a href="auth/signup">Create a New Profile</a></h2>