<h1>Quit Your Wine-ing; Things Could Be MUCH Worse:</h1>
<img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwid-7bcgankAhVdJDQIHTilCgkQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fpassed%2Bout%2Bdrunk%3Fpage%3D2&psig=AOvVaw3ozRE0kWMhtScNBdCEpezm&ust=1567200137594172">
<h2>If at first you don't succeed....Keep Drinking, and Try Again!</h2>