<h1>Wine Search Page</h1>

<form method="POST" action="/search/searchlist">
    <div class="form-group">
        Country: <select class="form-control" id="search-country" name="country"> Country:
            <% searchfields.forEach((c) => { %>
                <option><%= c.country %></option>
        <% }) %>
        </select>

        Region: <select class="form-control" id="search-region" name="region"> Region:
            <% searchfields.forEach((r) => { %>
                <option><%= r.region %></option>
        <% }) %>
        </select>

        Appellation: <select class="form-control" id="search-appellation" name="appellation"> Appellation:
            <% searchfields.forEach((a) => { %>
                <option><%= a.appellation %></option>
        <% }) %>
        </select>
    </div>
    <button type="submit" id="search-button" class="search btn btn-default">Search</button>
</form>

